// root variables override. i.e bootstrap variables
:root {
  --bs-primary-rgb: 255, 133, 82;
  --bs-secondary-rgb: 41, 115, 115;
  --bs-success-rgb: 133, 255, 199;
  --bs-info-rgb: 230, 230, 230;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 230, 230, 230;
  --bs-dark-rgb: 57, 57, 58;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
}